body {
  // display: flex;
  // justify-content: space-between;
    background-image: url('https://lh3.googleusercontent.com/4reAcWbFSJ0ZnDVyZohqafjni6wHuCUuvigNqalRr0-BbVh97iNWj4KrKuQp7iWwFAKpIVBVphHztVGNlj_WVnaSCtVJ-MjMvuE4UON0IlIyYZ9HHyGMet9FtBDRmCt9z4GFwtDEspu9YMJNmZLLg52TlR6ylXnULg-j-aySKGgG4_LyuXczBnNZOjnM2PWw7YQ2vrrkFFQ1reM5vk_U8E1H6XvGjsys1p5Kq6QI0BmXNucXTshy4Q1QLK0ufJR0qQUALyoCngSTRHi0b3lgnIg8k7r00n3oJD5521m5TamMne4qwrAPcnyd9_PvY2BdDWE1xUHBVw6370n6U_r_jo1puGIxip-hugGYcfYOOWlb8qb4ligBLRGVlwOp3ZjtvdFbbCHKjIy6fPEhU5uagSUqoo7aVyeJSgj5Ej077NGzq82mekrk8iHmyCjcwkiDAI-MO06V0cAAAEXmnVCKgjy3ih_6Gw6NRQzxWAvv4wfubjHTj7Pw4dRtukO2OAeux6Df8lLNowjGQRnKl_g24GSYaJiw7YjNjTOChpR488GYlMHYnDLO6xV5ulNs58pi0jY8ElddKXGJhntPYKef1RfyRtanIIANXgG41bwSgWjj10TU3akp7me6ZQWsgfp31fWDL4d04AinPxGFIyDKJLuKH-e91IL20PFoDIDBgdVe4ZlHVdbgLszN-j6qjvQEPyiKak2HivGJhn2rCT-56hg=w1677-h943-no?authuser=0"');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

h1 {
  position: absolute;
  top: 0px;
  left: 620px;
  font-size: 36px;
  width: 50%;
  color: maroon;
}

#nav-bar {
  position: absolute;
  top: 90%;
  left: 44.5%;
}

ul {
  text-align: center;
  font-size: 25px;
 
}

a {
  text-decoration: none;
  color: azure;
}

.github {
  color: white;
  list-style-type: none;
 
}

.linkedin {
  color: white;
  list-style-type: none;
 
}


#game-canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: gainsboro; 
    // display: flex;
    background-image:    url("https://lh3.googleusercontent.com/JVu_u0gKJCteV6fV21hkEnMcM8HbIgv6eFTT3HpkqHsc9n1bfZaeDGn_ad3A3AkWcApMQgmoEPVTzYisyjGY6FNHiyUamYg3Qqda59ARuQVtly3WhFvCicI3iV107RBpJ2JJA6uc8o87E5Et2X8G-t1bM2tJQZkDkepqFkXmC8dS-SKajBYDGN2ZUTFLiSbvuUiuQjHvf613o1fFdjUA6kDScAxhk9vSWrKcENBP6lHpBWvz2MErMSfRsESkl0g1JwTY-sTni7guvNdfCmn-NoSyEIVGw94syc2TQla_fWc5Ax6529a1P0CA8uE73L32L2MNIH2Dj-Lbhwwn9xj_cOE4bFCdHBSnKXet32PLw72uyWElFc7NKGk6dXHgzqM50WQTHUFdKvVihrgaqrVzCENUfxoyHDi04fUmMHs2-de_K9agefXiJOmTwG5UCZFYULRi_OvG_G4xvBinRrBp_PZOwB479mcWhsruIYDNPNSVefruB-Db6G-FqsrGqVnnqrzlUJowZSniV11YrTrs3Ram7LAfwUfRzViGBmZzntym5INsinvg9MbVyrT-HvjyDohskGp4a6eQOyZKnqnaR_wTgwRBSN-Ewau8NMFWXxhHrACs_G3NGvZ8fcbbeKy3k_vYhUe-ys8hAc_SfBQzeahW2MtpRYaRs0ofHGNLga7IHdPliFvW4Uonfr0z9ck8-NsfBtJdEyEarYI6yUo7POs=w1414-h943-no?authuser=0");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    border: 1px solid black  
    // width: 100%; 
}

.scorediv {
  display: inline-block;
  left: 90%;
  top: 80%;
  // transform: translate(-50%,-50%); 
  background-color: goldenrod;
}

#score {
  position: absolute;
  left: 65%;
  top: 10%;
  // transform: translate(0%,0%); 
  background-color: goldenrod;
  background-position: center center;

}

.start-game {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 

}

// #flag {
//   background-color: white;
//   // // position: absolute;
//   top: 100px;
//   left: 0px;
//   // transform: translate(100%);
//   border: 1px solid black; 
//   z-index: 50;
// }

.parent {
  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

#child1 {
  position: relative;
  top: 190px;
  left: -15px;
  
}

#flag {
  position: absolute;
  
  background-color: transparent; 
  // background-size:     cover;                      
  // background-repeat:   no-repeat;
  // background-position: center center;
  
  border: 1px solid black;   
}

// #start-game {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%); 
//   opacity: 0.4;
// }

// #start-canvas {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%); 
//   // background-color: pink; 
//   // display: flex;
//   background-image:    url("https://lh3.googleusercontent.com/mVI93u-k-EJG5WGHP_1MYGBuOAcTFOD4rB9rT2B7gnlWKeXqYugPO9izhNj4jPFf7I11WvchL4iY4zBm5Lz2MhEkk1nFbCAYNRMrt2ph2iZZ0ZTRS_4jQlEcK-2aq6yMZkCdKNNgkSRsjfOX84oZ1-YUBJNvJ6t6VejTm_9Q_e1NSX9eDNHl2ALDE14AB9boIyKzHSQTdv7Ht1dV1myJ_C_Ip94756u-7bw2aMzmJ7XZ7k0WaKHIc5opQTKISI9c2qN_WUsDjGn7PxEuGl5iY9i8N1QRMlI-TQU_j9x_cDS_LlAFtvWeg1-K8elbbr6dZI0PtWFafIqX_8niQRhCNzfgE_rzCQZceNKB9QSYOD_3P1HZONHYMR44xHTdhs1KDBUWslOf2YAlbQcMcVzxYeAKopc2AKF689lbkBxJLjEBpwmZCU_me43_5vlCIVE_CfXTVknpUU0ee-tyepnnWABBYUUTiHINKzKybcyWcqOzecZDyEeE9Xr8g3ueP-H-l3TP_0622NzxTuAC-0BvH_ZpRfiKYKE_kaCTwFv5XIXS5Aw0AbPEhEzjYYr4LQ23yIe6ht2HNDK-1R8h5Io002S45uxrzisP25oUFaAH4jPu7nMjEwsAtMAqZyXue3-XRODSFeOzJPUzVwinnbXB-gIF5F7okeLSOsYLTjlfGBeE1bvTd3I4DSdNMNqgaQIZdQnwTnArXUxk8TU7_SPG3EY=s943-no?authuser=0");
//   background-size:     cover;                      
//   background-repeat:   no-repeat;
//   background-position: center center;
//   border: 1px solid black  
//   // width: 100%; 
// }





